<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>This is the ninja route for Landing Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ninja.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <div id="wrapper">
      <h1>Ninja Information</h1>
      <p>Ninjas are quite sneaky and rarely can see been as they are lurking in the shadows</p>
      <img src="{{ url_for('static', filename="img/ninja1.png") }}" alt="ninja logo">
    </div>
  </body>
</html>
