<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login And Registration</title>
    <link rel="stylesheet" type="css/text" href="{{ url_for('static', filename='style.css')}}">
  </head>
  <body>
    <div class='register'>
      <h2>Register for a new account:</h2>
      <form action="/create_user" method="post">
        First Name: <input type="text" name="first_name">
        Last Name: <input type="text" name="last_name">
        Email: <input type="text" name="email">
        Password: <input type="password" name="password">
        Confirm Password: <input type="password" name="confirm_pass">
        <input type="submit" value="Register">
      </form>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <p class="error">{{ message }}</p>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
    <br>
    <div class="login">
      <h2>Login:</h2>
      <form action="/login" method="post">
        Email: <input type="text" name="email_log">
        Password: <input type="password" name="password_log">
        <input type="submit" value="Login">
      </form>
    </div>
  </body>
</html>
