
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">  
    <title>Group Chat</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
  </head>
  <body>
    <form class="chats" onsubmit="return false">
      <input type="text" name="message">
      <button type="submit" name="button">Send</button>
    </form>
  </body>
</html>