<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Trip Info</title>
  </head>
  <body>
    <a href="{% url 'exam:index' %}">Home</a>
    <a href="{% url 'exam:logout' %}">Log Out</a>
    <div class="trip_info">
      <h2>{{  }}</h2>
      <p>Planned By: {{ user.name }}</p>
      <p>Description: {{travels}}</p>
      <p>Travel Date From: </p>
      <p>Travel Date To: </p>
    </div>
    <div class="others">
      <h2>Other users' joining this trip:</h2>
      <ul>
        {% for users in users %}
          <li>{{ user }}</li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
