<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Main</title>
  </head>
  <body>
    <h1>Welcome!</h1>
    {% if messages %}
    <div class="error">
      <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    <div class="register">
      <h2>Register</h2>
      <form class="reg" action="{% url 'exam:register' %}" method="post">
        {% csrf_token %}
        <label>Name: </label><br><input type="text" name="name"><br>
        <label>Username: </label><br><input type="text" name="username"><br>
        <label>Password: </label><br><input type="password" name="password"><br>
        <label>Confirm Password: </label><br><input type="password" name="confirm_pass"><br>
        <input type="submit" name="register" value="Register">
      </form>
    </div>
    <div class="login">
      <h2>Login</h2>
      <form class="log" action="{% url 'exam:login' %}" method="post">
        {% csrf_token %}
        <label>Username: </label><br><input type="text" name="username_log"><br>
        <label>Password: </label><br><input type="password" name="password_log"><br>
        <input type="submit" name="login" value="Log In">
      </form>
    </div>
  </body>
</html>
