<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index Page</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <div class="main">
      <h1>Welcome to QuotingDojo</h1>
      <form action="/quotes">
        Your name: <br><input type="text" name="name"><br>
        Your quote: <br><textarea name="quote" rows="4" cols="35"></textarea><br>
        <button formmethod="post" type="submit" name="button">Add my quote!</button>
        <button formmethod="get" type="submit" name="button">Go to quote list!</button>
      </form>
    </div>
  </body>
</html>
