*{
  margin: 0px;
  padding: 0px;
}

#wrapper{
  background-color: black;
  height: 300px;
  width: auto;
}
h1{
  color: red;
  padding: 15px;
}

p, h2{
  color: white;
  margin-left: 20px;
}

ul{
  padding-left: 20px;
  margin-top: 5px;
}
