*{
  margin: 0px;
  padding: 0px;
}

#wrapper{
  background-color: black;
}

h1{
  color: white;
  padding: 10px;
}

p{
  color: white;
  padding-left: 10px;
}

img{
  height: 200px;
  width: 200px;
  margin-left: 50px;
}
