<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Content Module</title>
  <link rel="stylesheet" href="../stylesheets/static.css">
</head>
<body>
  <h1>Cats!</h1>
  <img src="../images/cats/cat1.jpg" alt="cat1">
  <img src="../images/cats/cat2.jpg" alt="cat2">
  <img src="../images/cats/cat3.jpg" alt="cat3">
  <a href="/views/cars.html">Looks at these cool cars!</a>
</body>
</html>